.btn_cart {
  background: #ffe0b3;
  border: 1px solid #95a0a7;
  border-radius: 0px 0px 8px 8px;
  color: #0e161a;
  width: 300px;
  height: 48px;
}
.img_tag {
  height: 286px;
  height: 286px;
  margin: 10px;
  margin-top: 10px;
}
